* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(rgb(89, 127, 197), rgb(95, 150, 85));
}

.main {
    border: 1px solid rgb(163, 157, 157);
    text-align: center;
    width: 120vh;
    margin: auto;
    margin-top: 30vh;
    height: 40vh;
    line-height: 1.7;
}

h1 {
    font-size: 45px;
    text-align: center;
    color: aliceblue;
}

.box {
    margin-top: 20px;
}

.stopWatch .label {
    display: inline-block;
}

button {
    width: 100px;
    padding: 8px;
    border: 1px solid #fff;
    background-color: rgba(0, 0, 0, 0.192);
    color: #fff;
    font-size: 20px;
    border-radius: 5px;
}